*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 75%;
}
body {
    font-family: Arial, sans-serif;
  }
  h1{
    margin-left: 5rem;
  }
  form {
     font-size: 1.5rem;
     font-weight: 700;
    margin-bottom: 20px;
    margin-left: 5rem;
  }
  input[type="number"] {
    width: 30rem;
    height: 4rem;
    border: 1px solid #555;
    padding: 1rem;
    margin-left:.2rem;
    outline: none;
  }
  button[type="submit"] {
  background-color: rgb(67, 67, 125);
  color: white;
  width: 10rem;
  height: 4rem;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  }
  #output {
    font-weight: bold;
    margin-left: 5rem;
  }